/* * {
    border: 1px solid red;
    box-sizing: border-box;
} */

body {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    text-align: center; 
    margin-top: none;
    margin-bottom: none;

}

h2 {
    text-align: left;
    margin-left: 20px;
}

.container {
    display: block;
    border: 5px solid gray;
}

.color-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-content: space-between;
    margin-bottom: 20px; 
}

.color-panel {
    height: 200px;
    width: 400px;
    display: inline-block;
    margin-bottom: 20px;
}

.lightsteelblue {
    background-color: lightsteelblue;
}
.linen {
    background-color: linen;
}
.Olive-Drab {
    background-color: olivedrab;
}
.Golden-Rod {
    background-color: goldenrod;
}
.sandybrown {
    background-color: sandybrown;
}
.indian-red {
    background-color: indianred;
}

.color-name {
    color: black;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.color-code {
    color: black;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}