/* * {
    border: 1px solid red;
    box-sizing: border-box;
} */

body {
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    text-align: center; 
    margin-top: none;
    margin-bottom: none;
    font-family: Verdana;

}

h2 {
    text-align: left;
    margin-left: 20px;
}

.container {
    display: block;
    border: 5px solid gray;
}

.color-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-content: space-between;
    margin-bottom: 20px; 
}

.color-panel {
    height: 200px;
    width: 400px;
    display: inline-block;
    margin-bottom: 20px;
}

.color-name {
    color: black;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

.color-code {
    color: black;
    font-family: Verdana;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}

.lightsteelblue {
    background-color: lightsteelblue;
}
.linen {
    background-color: linen;
}
.Olive-Drab {
    background-color: olivedrab;
}
.Golden-Rod {
    background-color: goldenrod;
}
.sandybrown {
    background-color: sandybrown;
}
.indian-red {
    background-color: indianred;
}

/*  FONT CSS */

.font-panel {
    height: 250px;
    width: 600px;
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid grey;
}


.font-name {
    color: black;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
    text-decoration: underline;
    text-align: center;
}

.font-sample {
    color: black;
    font-family: Verdana;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}

.Andada-Pro {
    font-family: "Andada Pro";
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.Playfair-Dis {
    font-family: 'Playfair Display', serif;
}

.Garamond {
font-family: 'EB Garamond', serif;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}